# FOLDERS ======================================================================

**/node_modules/
**/dist/
**/ignore/

# FILES ========================================================================

**/.env
**/.env.production
**/.env.develop

# GLOBAL FILES =================================================================

.npmrc
