# FOLDERS ======================================================================

.github/
.husky/
.vscode/
dist/
node_modules/
ignore/
# src/

# FILES ========================================================================

pnpm-lock.yaml
package.json
**/*.mdx
