# FOLDERS ======================================================================

.github/
.husky/
.vscode/

**/dist/
**/node_modules/
**/ignore/
**/.next/

# FILES ========================================================================

pnpm-lock.yaml
**/package.json
